<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Home</title>


  
       <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">

    <link rel="stylesheet" href="css/templatemo-breezed.css">
  

    <link rel="stylesheet" href="css/owl-carousel.css">

    <link rel="stylesheet" href="css/lightbox.css">
    
  
           <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Slabo+27px&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Slabo+27px&family=Space+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Crete+Round&family=Slabo+27px&family=Space+Mono&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b84c2de754.js" crossorigin="anonymous"></script>


   
</head>

    <body>
    
   
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
   
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                       
                        <a href="index" class="logo">
                            ECO
                        </a>
                       
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#about">About</a></li>
                            <li class="scroll-to-section"><a href="#whatwedo">What we do</a></li>
                            <li class="scroll-to-section"><a href="rrr">RRR</a></li>
                           
                            <li class="scroll-to-section"><a href="#contact-us">Contact Us</a></li> 
                           
                           
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        
                    </nav>
                </div>
            </div>
        </div>
    </header>
   
    <div id="search">
        <button type="button" class="close">×</button>
        <form id="contact" action="#" method="get">
            <fieldset>
                <input type="search" name="q" placeholder="SEARCH KEYWORD(s)" aria-label="Search through site content">
            </fieldset>
            <fieldset>
                <button type="submit" class="main-button">Search</button>
            </fieldset>
        </form>
    </div>

   
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
        
          <div class="item">
            <div class="img-fill">
                <img src="slide-01.jpg" alt="">
                <div class="text-content">
                  <h3>Hey! Waste Generator</h3>
                  <h5>Connect with Recyclers</h5>
                  <a href="registercu" class="main-stroked-button">Request to pick-up</a>
               
                </div>
            </div>
          </div>
        
          <div class="item">
            <div class="img-fill">
                <img src="slide-02.jpg" alt="">
                <div class="text-content">
                  <h3>Register Yourself with Us</h3>
                  <h5>Connect with Waste Generators</h5>
                  <a href="register" class="main-stroked-button">Register</a>
                  
                </div>
            </div>
           
          </div>
          
        </div>
    </div>
 
    <section class="section " id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                          
                            <h2>Welcome to Eco</h2>
                            <br><br>
                            <p style="font-size: 20px ;  font-family: 'Crete Round', serif;">This is our initiative to join the dots between recyclable waste producer and consumer. In our country, waste disposal poses great problems and we are here to solve them by making trash collection and recycling much more easier and accessible for every individual. We aim to organize this industry and thereby preventing environment to become victim of the mismanagement caused by lack of platform required to bridge the gap between provider and customer. <br><br> By filling this gulf we will be able to effectively explore the economic potential of recyclable plastics which is till now being neglected and will also be able to tackle the issue of plastic pollution at national and local level.</p>
                    
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="right-text-content">
                  
                    </div></div>
                </div>
            </div>
        </div>
    </section>
    
    <h1 id="whatwedo" style="margin-top: 5%;margin-left: 15%;font-weight: bold;">Our Clients: </h1>
   
    <section class="section" id="features">
        
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                           
                        </div>
                        
                        <div class="features-content">
                            
                            <h4>* Waste Generator</h4>
                            <p>Hello peeps, welcome to our website name community. 
                                Get connected with plastic collectors around you online.
                                Enter your details to find collectors near you.</p>
                            <a href="registercu" class="text-button-icon">
                                Request to Pick-up <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                          
                            <i class="fa-solid fa-truck-arrow-right"></i>
                        </div>
                        <div class="features-content">
                            <h4>* Waste Collectors</h4>
                            <p>Hello collectors, welcome to our website name community.
                                Get connected with people around you by a single click through mail.
                                Get started by providing your details.
                                You will receive a mail for pickup soon. </p>
                            <a href="register" class="text-button-icon">
                                Register yourself
                                 <i class="fa fa-arrow-right"></i>
                               
                            </a>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->
    <section class="section" id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                       
                        <h2>Main causes of plastic pollution</h2>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="owl-carousel owl-theme">
                        <div class="item author-item">
                            <div class="member-thumb">
                                <img src="marine.png" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="marine"><h2>More Info</h2></a></li>
                                           
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h4>Marine plastic pollution</h4>
                            
                        </div>
                        <div class="item author-item">
                            <div class="member-thumb">
                                <img src="household.jpg" height="400px" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="household"><h2>More Info</h2></a></li>
                                           
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h4>Household Plastic Pollution</h4>
                          
                        </div>
                        <div class="item author-item">
                            <div class="member-thumb">
                                <img src="hospital.png" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="hospital"><h2>More info</h2></a></li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h4>Hospital Plastic pollution</h4>
                          
                        </div>
                          <div class="item author-item">
                            <div class="member-thumb">
                                <img src="indus.png" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="/indus"><h2>More info</h2></a></li>
                                            
                                    
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h4>Industrial Plastic pollution</h4>
                         
                        </div>
                          <div class="item author-item">
                            <div class="member-thumb">
                                <img src="nuclear.png" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="/nuclear"><h2>More info</h2></a></li>
                                           
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h4>Nuclear Plastic pollution</h4>
                           
                        </div>
                          <div class="item author-item">
                            <div class="member-thumb">
                                <img src="municipal1.png" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="municipal"><h2>More info</h2></a></li>
                                          
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h4>Municipal Plastic pollution</h4>
                            
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
  
  
    <section class="section" id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>Contact Us</h6>
                            <h2>Feel free to keep in touch with us!</h2>
                        </div>
                        <ul class="contact-info">
                            <li><img src="contact-info-01.png" alt="">123456789</li>
                            <li><img src="contact-info-02.png" alt="">eco@gmail.com</li>
                            <li><img src="contact-info-03.png" alt="">www.eco.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12">
                    <div class="contact-form">
                        <form id="contact" action="/contact" method="post">
                          <div class="row">
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="namee" type="text" id="name" placeholder="Your Name *" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="phonee" type="text" id="phone" placeholder="Your Phone" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="emaill" type="email" id="email" placeholder="Your Email *" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="subjectt" type="text" id="subject" placeholder="Subject">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="messagee" rows="6" id="message" placeholder="Message" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button-icon">Send Message Now <i class="fa fa-arrow-right"></i></button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="left-text-content">
                        <p>Copyright &copy; 2022

                    </div>
                </div>
               
            </div>
        </div>
    </footer>
    
    <script src="https://kit.fontawesome.com/b84c2de754.js" crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="js/jquery-2.1.0.min.js"></script>


    <!-- Bootstrap -->
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="js/owl-carousel.js"></script>
    <script src="js/scrollreveal.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imgfix.min.js"></script> 
    <script src="js/slick.js"></script> 
    <script src="js/lightbox.js"></script> 
    <script src="js/isotope.js"></script> 
    
    <!-- Global Init -->
    <script src="js/custom.js"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>
    

  </body>
</html>