<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>indus</title>



  <script>
 
    if (document.documentMode || /Edge/.test(navigator.userAgent)) {
        alert('Please use Chrome or Firefox for best browsing experience!');
    }
  </script>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  
  <link rel="stylesheet" href="css/bootstrap.min.css">                                     
  <link rel="stylesheet" href="css/fontawesome-all.min.css">                             
  <link rel="stylesheet" href="css/slick.css">
  <link rel="stylesheet" href="css/slick-theme.css">
  <link rel="stylesheet" href="css/templatemo-style.css">                                   


  <style>
    .tm-img-container-1 {
  background-image: url(../Industrial1.png);
  background-position: top center;
}

.tm-img-container-2 {
  background-image: url(../Industrial2.png);
  background-position: top center;
  margin-left: 8px;
}

.tm-img-container-3 {
  background-image: url(../Industrial3.png);
  background-position: top right;
  background-size: cover;
}
.tm-bg-primary { background-color: rgb(148, 170, 243); }

.tm-top-bar{
  background-color: rgb(7, 18, 53) ;
  
}
.tm-bar-2 {
  background-color: rgb(7, 18, 54);
}

.tm-welcome-left {
  background-color:  rgb(148, 170, 243);
}

  </style>
</head>

<body>

  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>

  <div class="container">
    <div class="tm-top-bar"></div>


    <section class="tm-welcome">

      <div class="tm-welcome-left">
   
        <div class="tm-logo">
          <h1 class="tm-site-name">Problem-4</h1>
        </div>
        <div class="tm-welcome-content">
     
          <h2 class="tm-mb-25">Industrial Waste Pollution</h2>
          <p class="tm-font-big"><a rel="nofollow" href="http://www.templatemo.com/tm-519-beauty" target="_parent">
            The first step in your industrial waste management program is to identify which items can be recycled, and set up recycling bins or dumpsters into which they can be sorted. Most recycling centers can handle glass, paper, and plastic recycling. Many can also handle scrap metal recycling, cardboard recycling, food waste recycling, and electronics recycling. You must segregate and separate your recycling from your hazardous waste, compostable waste, and non-hazardous solid waste. </div>
      </div>
      <div class="tm-welcome-right"></div>

    </section>
    <div class="tm-bar-2"></div>

    <section class="row tm-section-mb tm-section-2">
      <div class="col-md-12 tm-section-2-inner">
        <div class="tm-section-2-left">
              <div class="tm-img-container tm-img-container-1"></div>
              <div class="tm-img-container tm-img-container-2"></div>
        </div>
        <div class="tm-section-2-right tm-bg-primary">
          <div class="tm-section-2-text">
            <h2 class="tm-section-2-header tm-mb-45"> Prevention Measures :</h2>
            <p>Use of Landfills
              Landfills are one of the most common ways to dispose of waste in America. The only waste that should be sent to landfills is that which is non-hazardous, non-recyclable, and non-compostable. When waste is sent to a landfill, it is confined to a small area, compacted when necessary, and then buried in the earth.</p>
            <p class="tm-p-ml"> </p>
          </div>
        </div>
      </div>
    </section>

    <section class="row tm-section-3">
      <div class="col-md-12 tm-section-3-inner">
        <div class="tm-section-3-left tm-bg-primary">
          <div class="tm-section-3-text">
         
            <h2 class="tm-section-3-header tm-mb-35"></h2>
            <p>Composting
              The composting process turns organic waste into fertilizer that can be used to nourish plants. Most food waste can be composted, and even unsafe organic items can be turned into safe composting. You can compost food waste, leaves, newspaper, very small pieces of cardboard, straw, and sawdust.</</p>

          </div>
        </div>
        <div class="tm-section-3-right">
          <div class="tm-img-container tm-img-container-3"></div>
        </div>
      </div>
  </section>
  <br>
  <br>


  <section class="row">
    <div class="col-md-7 d-flex tm-contact-left-col">
      <div class="tm-bg-primary tm-contact-left">
        <div class="tm-contact-left-inner">
          <h2 class="text-center tm-mb-40 tm-contact-header">HERE WE ARE</h2>
          <p class="tm-line-height-2 mb-5">Etiam congue tempor risus, id porta massa laoreet at. Nunc risus elit, porttitor sit amet sem.</p>
          <div class="mb-2 tm-font-normal">
            Tel: <a href="tel:0900900990" class="mt-5 tm-contact-link">090-090-0990</a>
          </div>
          <div class="mb-2 tm-font-normal">
            Fax: <a href="tel:0800800880" class="tm-contact-link">080-080-0880</a>
          </div>
          <div class="mb-2 tm-font-normal">
            Email: <a href="mailto:info@company.com" class="tm-contact-link">info@company.com</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <form action="/contact" method="post" class="tm-contact-form">
        <div class="form-group mb-4">
          <input type="text" id="contact_name" name="contact_name" class="form-control" placeholder="Name" required/>
        </div>
        <div class="form-group mb-4">
          <input type="email" id="contact_email" name="contact_email" class="form-control" placeholder="Email" required/>
        </div>
        <div class="form-group mb-4">
          <textarea rows="6" id="contact_message" name="contact_message" class="form-control" placeholder="Message" required></textarea>
        </div>
        <div class="form-group mb-0">
          <button type="submit" class="btn btn-primary tm-btn-round tm-fl-right">Send</button>
        </div>
      </form>
    </div>
  </section>

  

</div> 

<script src="js/jquery-3.2.1.slim.min.js"></script>
<script src="js/slick.min.js"></script>
<script>

  $(function(){
    $('.tm-gallery').slick({
      dots: true,
      infinite: true,
      slidesToShow: 4,
      slidesToScroll: 2,
      responsive: [
      {
        breakpoint: 991,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 2
        }
      },
      {
        breakpoint: 767,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }

    ]
    });
  });

</script>
</body>
</html>