<!DOCTYPE html>

<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title>3R's</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="css/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded overlay dark" style="background-image:url('nature1.png');"> 
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
      <!-- ################################################################################################ -->
      {{!-- <div id="logo" class="fl_left">
        <h1><a href="index.html">Eco</a></h1>
      </div> --}}
      {{!-- <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="#">About</a>
          <li><a href="#">What we do</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </nav> --}}
      <!-- ################################################################################################ -->
    </header>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="flexslider basicslider">
      <ul class="slides">
        <li>
          <article>
            <p></p>
            <h3 class="heading">3r’s of Waste Management</h3>
            <p>Reduce-Reuse-Recycle</p>
            <!-- <footer><a class="btn" href="#">Save Environment</a></footer> -->
          </article>
        </li>
        <!-- <li>
          <article>
            <p>Laoreet</p>
            <h3 class="heading">Iaculis interdum</h3>
            <p>Nulla scelerisque posuere convallis</p>
            <footer>
              <form class="group" method="post" action="#">
                <fieldset>
                  <legend>Sign-Up:</legend>
                  <input type="email" value="" placeholder="Email Here&hellip;">
                  <button class="fa fa-sign-in" type="submit" title="Submit"><em>Submit</em></button>
                </fieldset>
              </form>
            </footer>
          </article>
        </li>
        <li>
          <article>
            <p>Phasellus</p>
            <h3 class="heading">Bibendum blandit</h3>
            <p>Lacus non tincidunt class aptent taciti sociosqu</p>
            <footer><a class="btn inverse" href="#">Litora torquent</a></footer>
          </article>
        </li> -->
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper">
  <div class="hoc clear"> 
    <!-- ################################################################################################ -->
    <figure id="introblocks">
      <ul class="nospace group">
        <li class="one_third first"><a href="#"><img src="box2.png" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="box1.png" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="box4.png"  alt=""></a></li>
      </ul>
    </figure>
    <!-- <p class="center"><a class="btn" href="#">Save Earth</a></p> -->
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <article class="group btmspace-80">
      <div class="two_third first"><img class="borderedbox inspace-10" src="reduce.png" alt=""></div>
      <div class="one_third">
        <h6 class="heading">Reduce</h6>
        <ul class="nospace meta">
        
        </ul>
        <p>Reducing - Try to reduce the amount of waste you produce, as this is the best way to help the environment! If you cannot avoid producing the waste, try…</p>
        <p class="btmspace-30">Avoid giving presents with excess packaging.Consider using doorstep delivery services for organic vegetables, milk and other fresh produce - goods often come in little or returnable packaging.</p>
        <!-- <footer class="nospace"><a class="btn" href="#">Know more &raquo;</a></footer> -->
      </div>

 

      <div class="two_third first"><img class="borderedbox inspace-10" src="reuse.png" alt=""></div>
      <div class="one_third">
        <h6 class="heading">Reuse</h6>
        <ul class="nospace meta">
      
        </ul>
        <p>.. Reusing - Think of ways you could reuse something, like shredding paper for your hamster rather than buying bedding or saving glass jars for storage. If you can not reuse something try…</p>
        <p class="btmspace-30">Repair broken items rather than buy new ones
          Take old carrier bags to the shop with you to use again or use them as bin liners
          Scrap paper can be used both sides, for children's drawings, shopping lists.</p>
        <!-- <footer class="nospace"><a class="btn" href="#">Know more &raquo;</a></footer> -->
      </div>

     

      <div class="two_third first"><img class="borderedbox inspace-10" src="recycle2.png" alt=""></div>
      <div class="one_third">
        <h6 class="heading">Recycle</h6>
        <!-- <ul class="nospace meta">
          
        </ul> -->
        <p>Recycling (and composting)
          This enables the materials you throw away to be used again by making them into new products.</p>
        <p class="btmspace-30">At the garden centre look for products that are made from recycled materials such as plant pots, containers and garden benches made from recycled plastic, recycled paper liners for hanging baskets and compost and soil conditioners made from recycled organic materials.</p>
        <!-- <footer class="nospace"><a class="btn" href="#">Know more &raquo;</a></footer> -->
      </div>
    </article>
    <!-- ################################################################################################ -->
    <hr class="btmspace-80">
    <!-- ################################################################################################ -->
    <ul class="nospace group overview">
      <li class="one_third">
        <article><a href="#"><img src="bottle.png" alt=""></a>
          <h6 class="heading">Reuse-Reusing Platic bottles</h6>
          <ul class="nospace meta">
            
          </ul>
          <p>Rather than buying expensive pots and planters for a garden, use plastic beverage bottles. Set the bottle on its side, cut an opening in the middle, fill it with dirt and add a plant. Vary the size and shape of the bottles to accommodate different types of plants. You can even attach cords or chains to create hanging planters with different levels of bottles arranged horizontally.</p>
          <!-- <footer class="nospace"><a class="btn" href="#">More</a></footer> -->
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><img src="bags.png" alt=""></a>
          <h6 class="heading">Reduce-Using cloth bags</h6>
          <ul class="nospace meta">
           
          </ul>
          <p>Just like a reusable water bottle, you may already have a reusable grocery bag, though it’s often forgotten at home. Try writing BAGS on the top of your grocery list to help you remember, or keep them in the back seat where they aren’t as easy to forget. Many grocery stores will provide a 5 cent per bag refund so you’ll save a few cents while reducing your usage of one-time-use plastic bags.</p>
          <!-- <footer class="nospace"><a class="btn" href="#">More</a></footer> -->
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><img src="composting.png" alt=""></a>
          <h6 class="heading">Recycling-Using Compost</h6>
          <ul class="nospace meta">
          </ul>
          <p>Compost is organic material that can be added to soil to help plants grow. Food scraps and yard waste together currently make up more than 30 percent of what we throw away, and could be composted instead. Making compost keeps these materials out of landfills where they take up space and release methane, a potent greenhouse gas.</p>
          <!-- <footer class="nospace"><a class="btn" href="#">More</a></footer> -->
        </article>
      </li>
   
    </ul>
  
    <div class="clear"></div>
  </main>
</div>

<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.backtotop.js"></script>
<script src="js/jquery.mobilemenu.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
</body>
</html>